@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;

    /* (Primary colors) */
    --primary-100: hsla(157, 35%, 93%, 1);
    --primary-200: hsla(157, 14%, 86%, 1);
    --primary-300: hsla(157, 37%, 68%, 1);
    --primary-400: hsla(157, 55%, 40%, 1);
    --primary-500: hsla(157, 100%, 27%, 1);
    --primary-600: hsla(157, 100%, 23%, 1);
    --primary-700: hsla(157, 100%, 19%, 1);
    --primary-800: hsla(157, 100%, 15%, 1);
    --primary-900: hsla(157, 100%, 12%, 1);
    --primary-1000: hsla(157, 100%, 9%, 1);
    --primary-foreground: hsla(0, 0%, 100%, 1);

    /* (accent colors) */
    --accent-100: hsla(185, 35%, 93%, 1);
    --accent-200: hsla(186, 36%, 82%, 1);
    --accent-300: hsla(187, 37%, 68%, 1);
    --accent-400: hsla(187, 36%, 54%, 1);
    --accent-500: hsla(187, 55%, 40%, 1);
    --accent-600: hsla(187, 100%, 27%, 1);
    --accent-700: hsla(187, 100%, 23%, 1);
    --accent-800: hsla(187, 100%, 19%, 1);
    --accent-900: hsla(188, 100%, 15%, 1);
    --accent-1000: hsla(187, 100%, 12%, 1);
    --accent-foreground: hsla(0, 0%, 100%, 1);

    /* (text color schemes) */
    --text: hsla(0, 0%, 20%, 1);
    --sub-text: hsla(0, 0%, 28%, 1);
    --sub-text-light: hsla(0, 0%, 44%, 1);
    --border: hsla(0, 1%, 82%, 1);
    --base: hsla(0, 0%, 100%, 1);
    --text-muted: hsla(0, 0%, 75%, 1);
    --muted-fill: hsla(0, 0%, 95%, 1);
    --success: hsla(128, 52%, 41%, 1);
    --error: hsla(342, 100%, 59%, 1);
    --warning: hsla(48, 100%, 50%, 1);
    --linear-white: hsla(0, 0%, 100%, 1);
    --linear-1: hsla(169, 100%, 25%, 1);
  }

  .dark {
    --background: 214 25% 27%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
